#tegnebrett{
    position: relative;
    border: solid 1px black;
    width: 400px;
    height: 400px;
}

#bakgrunn{
    position: absolute;
    width: 400px;
    height: 400px;
}
#ark{
    position: absolute;
    width: 400px;
    height: 400px;
}
.hidden{
    display: none;
}