.vscode
Block jumper game
API testing/testFile.csv
API testing/CleanedZonAnn.Ts+dSST.json
Weather\ app/key.js
Stock price prediction AI/apikey.json
JanCalendar.html
Stock\ price\ prediction\ AI/testFile.json
Tester
TicTacToe/tictactoe
calendar-app/client.js
calendar-app/passProtect.js
calendar-app/extras
calendar-app/public/errors
calendar-app/dates.json
calendar-app/public/calendar/icons
Arduino\ app/Node_modules
Arduino app/package-lock.json
Arduino app/package.json
IT2\ oppgaver/colors.js
calendar-app-2.0/api/testDB.json
calendar-app-2.0/api/client.js
*.mp3