body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(21, 21, 21);
    color: rgb(255, 255, 255);
}
/*Calendar div desktop*/
.calendar_desktop{
    position: absolute;
    width: 75%;
    height: 650px;
    border: solid 1px white;
    border-radius: 10px;
    left: 1%;
    top: 100px;
}

.calendarDays_div_desktop{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}
.calendarDays_desktop{
    font-size: 1.3em;
    height: 40px;
    border: solid 1px white;
    border-radius: 10px;
    margin: 10px 5px 0px 5px;
    line-height: 35px;
    background-color: #013e88d6;
}
.calendarDates_div_desktop{
    position: absolute;
    width: 100%;
    height: 90%;
    bottom: 0%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.activeDateDesktop{
    cursor: pointer;
    font-size: 1.4em;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    background-color: #0350afd6;
    min-height: 105px;
    max-height: 105px;
}
.activeDateDesktop>p{
    margin: 5px 0px 0px 5px;
}
.calendarInEvents_div_desktop{
    position: relative;
    width: 80%;
    top: 10px;
    max-height: 50px;
    overflow: scroll;
}
.calendarInEvents_desktop>p{
    font-size: 0.8em;
    margin: 3px;
    background-color: rgb(160, 226, 255);
    color: rgb(42, 42, 42);
    border-radius: 10px;
}
.calendarInEvents_desktop>p>span{
    position: relative;
    left: 10px;
}

/*Date events*/
.eventDiv_desktop{
    position: absolute;
    width: 20%;
    height: 650px;
    border: solid 1px white;
    border-radius: 10px;
    right: 1%;
    top: 100px;
    text-align: center;
}
.eventHeader_desktop{
    margin: 10px;
    font-size: 1.75em;
}
.eventList_desktop{
    position: absolute;
    width: 90%;
    height: 78%;
    left: 5%;
    top: 10%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.event_desktop{
    position: relative;
    font-size: 1.4em;
    background-color: #227eeebb;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    width: 80%;
    left: 5%;
    margin: 10px 0px 0px 0px;
    max-height: 40px;
}